Django
Pillow
django-allauth
django-crispy-forms
gunicorn
boto3
botocore
dj-database-url
dj-static
django-bootstrap-form
django-storages
docutils
python-dateuti
python-decouple
pytz
s3transfer
six
static3
