{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block title %}Atualizar {{ produto.nome }}{% endblock %}


{% block content %}
    <h2>Atualizar {{ produto.nome }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <div class="card-footer" style="text-align: right;">
            <button class="btn btn-success" type="submit">Atualizar</button>
            <a href="{% url 'produto:home' %}"><button type="button" class="btn btn-primary">Voltar</button></a>
          </div>
    </form>
{% endblock %}