{% extends 'base.html' %}

{% block content %}
  {% if produtos %}

    <div class="card-group">

    
    {% for produto in produtos %}
          <div class="card" style="margin-right: 5px;">

            <img class="card-img-top img-fluid" src="{{ produto.imagem.url }}" style="max-height: 200px;">
            
            <div class="card-body">
              
              <h5 class="card-title">{{ produto.nome }} </h5>
              
              <p class="card-text">{{ produto.preco }} R$</p>
            </div>
          </div>              
        {% endfor %}

      </div>
      <div style="margin-top: 10px;">
        <a href="{% url 'produto:home'%}"><button type="button" class="btn btn-outline-secondary"> Redefinir</button></a>
        <a href="{% url 'produto:confirm'%}"><button type="button" class="btn btn-outline-secondary"> Comprar </button></a>
      </div>
  {% else %}
      Não há produtos no carrinho
  {% endif %}
  
